.site-header {
  background: rgba( 255, 0, 0, 0.15 );
  padding: 20px;
}
.site-nav{
  background: rgba( 0, 255, 0, 0.15 );
  padding: flex;
  margin-top: 15px;
  box-sizing: content-box;
  
  
}
.site-main {
  background: #ffc;
  padding: 20px;
  margin-top: 15px;
  display: inline-block;
  
}
.hentry {
  border: 2px dashed black;
  margin: 1rem;
  padding: 1rem;
  
  
}
footer {
 background: rgba( 0, 0, 255, 0.15 ); 
 padding: 20px;
}
.site-nav li{
  display: inline-table;
  padding: flex;
  box-sizing: content-box;
  border: 1.5px dashed grey;

  
}