body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.site-header {
  background: rgba( 255, 0, 0, 0.15);
  padding: 20px;
}

.site-nav {
  background: rgba( 0, 255, 0, 0.15);
  padding: 15px;
  display: flex;
  margin-top: 15px;
}

.site-main {
  background: #ffc;
  display: column;
  padding: 20px;
  margin-top: 15px;
}

.hentry {
  border: 2px dashed black;
  padding: 1rem;
}

footer {
  background: rgba(36, 36, 175, 0.15);
  padding: 20px;
}

.site-nav li {
  display: inline-block;
  border: 1.5px dashed grey;
}

.left,
.middle {
  width: 33%;
  display: inline-block;
  margin-right: -3px;
  height: 100%;
}

.right {
  width: 33%;
  display: inline-block;
  height: 100%;
}

.articles {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.site-main {
  height: 75%;
}

.main-section {
  margin-top: 1rem;
}

.main-section__title {
  margin-left: 13%;
  text-align: left;
}